.popupWrap .input-prepend .add-on {
	background: none;
	top:0;
}

.close-popup {
    background:url("../../../images/sprite.png") no-repeat 0 0;
}

.popupOverlay { z-index: 99998 !important; }
#popupWrap { border: 0px; border-radius: 0px; padding: 0px; z-index: 99999 !important; }
#popupWrap .close-popup { background: url('../images/close-popup.png') no-repeat center; right: -12px; top: -12px; }
#popupWrap .popup { border: 0px; border-radius: 0px; padding: 5px; }
#popupWrap .popup .border-1 { height: auto; border: 2px solid #e7e5e5; padding: 2px; }
/*#popupWrap .popup .border-2 { height: auto; border: 1px solid #f1c070; padding: 15px 25px; }*/
#popupWrap .popup .border-2 { height: auto; padding: 15px 25px; }
#popupWrap .popup h3 { height: auto !important; line-height: normal !important; color: #302e2e; border-bottom: 0px; padding: 0px 0px 5px 0px; margin: 0px; }
#popupWrap .popup .border.container { height: 2px; width: auto; padding: 0px; margin: 0px; }
#popupWrap .popup .row { margin-top: 25px; }

#popupWrap .popup .popup-newsletter-section { }
#popupWrap .popup .popup-newsletter-section .row { margin: 0px 30px 0px 0px; }
#popupWrap .popup .popup-newsletter-section .span3 { height: 45px; margin-bottom: 15px; float: none; }
#popupWrap .popup .popup-newsletter-section .text-field {
    width: 100%;
    height: 36px;
    border: 1px solid #e5e3e3;
    padding: 0 10px 0 10px;
    display: block;
}
#popupWrap .popup .popup-newsletter-section .input-prepend { background: none; width: 100%; border: 0px; padding: 0px; margin: 0px; }

#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: -22px;
    float: right;
    position: relative;
    font-size: 13px !important;
    width: auto;
}
#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field:active { top: 2px; }

#popupWrap .popup .popup-newsletter-section .offset2 .text-field { width: 90%; }
#popupWrap .popup .popup-newsletter-section .offset2 .input-prepend .submit-field { margin-right: 5px; }

#popupWrap .popup .popup-newsletter-section ::-webkit-input-placeholder { color: #B8B7B7 !important;}
#popupWrap .popup .popup-newsletter-section :-moz-placeholder, #popupWrap .popup .popup-newsletter-section ::-moz-placeholder { line-height:36px; color:  #000000 !important; }
#popupWrap .popup .popup-newsletter-section :-ms-input-placeholder { color: #B8B7B7 !important; }

.safari #popupWrap .popup .popup-newsletter-section .text-field { line-height: 1em; }
#ie8 #popupWrap .popup .popup-newsletter-section .text-field { line-height: 1em; }
#ie10 #popupWrap .popup .popup-newsletter-section .text-field :-ms-input-placeholder { padding: 0px; }
#ie10 #popupWrap .popup .popup-newsletter-section .text-field { line-height: 1em; }

#popupWrap .popup  h3{font-weight: normal; color: #a3a3a1; font-size: 23px}

#popupWrap .popup .box-no-view label{font-size: 11px;}
