#content-blog {
    margin-top: 20px;
}

.blog-big-image {
    margin-bottom: 60px;
    position: relative;
}

.blog-big-image .the-content-list > div {
    border: 0;
    padding: 0;
}

.blog-big-image-meta {
    margin-left: 0;
    width: 140px;
    float: left;
    margin-right: 35px;
}

.blog-big-image-meta p {
    border-bottom: 1px solid #d3d2d2;
    font-size: 12px;
    padding-bottom: 10px;
}

.blog-big-image-meta p:last-child { border-bottom: none; padding-bottom: 0; }
.blog-big-image-meta p.last-child { border-bottom: none; padding-bottom: 0; }

.blog-big-image-meta span {
    display: block;
}

.blog-big-image-meta p a {
    font-size: 12px;
    color: #808080;
}

.blog-big-image-meta p a:hover {
    color: #373636;
}

.blog-big-image-meta .socials {
    margin-top: 11px;
}

.blog-big-image-meta + .blog-big-image-content {
    margin-left: 175px;
}

.blog-big-image-content,
.blog-big-image-content p,
.blog-big-image-content p a {
    font-size: 13px;
    line-height: 22px;
}

.blog-big-image-content .post-footer p{
    margin-top: 0;
    margin-bottom: 7px;
}

.blog-big-image-single .blog-big-image-content,
.blog-big-image-single .blog-big-image-content p,
.blog-big-image-single .blog-big-image-content p a {
    font-size: 13px;
}

.blog-big-image .more-link {
    display: block;
    float: left;
}

.blog-big-image .thumbnail {
    padding: 0;
    margin-bottom: 15px;
    border: none;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.blog-big-image .thumbnail-wrapper {position:relative; margin-left: 0;}

.blog-big-image .thumbnail img {
    padding: 0;
    margin: 0;
}

.blog-big-image .thumbnail .blog-meta {
    position: absolute;
    top: 24px;
    left: 23px;
}

.blog-big-image .blog-big-image-date {
    background: #2a2a29;
    margin: 0;
    color: #fff;
    text-align: center;
    border-radius: 76px;
    width: 76px;
    height: 76px;
}

.blog-big-image .without.thumbnail .blog-big-image-date {
    display: none;
}

.blog-big-image .blog-big-image-date span {
    display: block;
}

.blog-big-image .blog-big-image-date span.month {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Bree Serif";
}

.blog-big-image .blog-big-image-date span.day {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Bree Serif";
    padding-top: 20px;
    padding-bottom: 4px;
}


.blog-big-image .blog-big-image-comments-count span {
    display: block;
    text-align: left;
}


.blog-big-image .blog-big-image-content h2, .blog-big-image .blog-big-image-content h1.post-title {
    margin-top: 11px;
    margin-bottom: 12px;
}

.blog-big-image .the-content-single {
    padding-left: 20px;
}


.blog-big-image-single .thumbnail {
    margin-right: 30px;
}

.blog-big-image .thumbnail .images-slider-sc li { margin-bottom: 0; position: relative; }

.blog-big-image .thumbnail .readmore-wrapper{
    position: absolute;
    bottom:0;
    right: 0;
    border-left: 11px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 2px solid #fff;
}

.blog-big-image .thumbnail .readmore-wrapper a {
    padding: 7px 32px;
    font-size: 13px;
}

.blog-big-image-content p a.more-link {
    padding: 13px 32px;
    font-size: 13px;
    margin-top: 10px;
}

.blog-big-image .thumbnail .images-slider-sc .flex-direction-nav .flex-prev,
.blog-big-image .thumbnail .images-slider-sc .flex-direction-nav .flex-next {
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
}
.blog-big-image .thumbnail .images-slider-sc .flex-direction-nav .flex-prev {
    right: 42px;
}

.blog-big-image .thumbnail .post_video {
    margin-bottom: 0;
}

.blog-big-image blockquote {
    background-position: 0 25px;
    padding-bottom: 0;
}
.blog-big-image cite {
    display: block;
    padding-top: 15px;
    text-align: right;
    font-weight: 800;
}

.blog-big-image .soundcloud-frame {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.blog-big-image .the-content-post{margin-left: 20px;}

.blog-big-image .post-footer {
    border-left: 4px solid #aeaeae;
    box-sizing: border-box;
    padding-left: 13px;
    margin-top: 24px;
    float: right;
}


.blog-big-image .the-content-single .post-footer {
    border-bottom: 4px solid #e8e8e8;
    padding: 16px 0;
}

.blog-big-image .post-footer .share {
    float: left;
}

.blog-big-image .post-footer .author {
    line-height: 23px;
    margin: 0;
    padding-bottom: 3px;
}
.blog-big-image .post-footer span.author,
.blog-big-image .post-footer span.count,
.blog-big-image .post-footer span.categories,
.blog-big-image .post-footer span.tags,
.blog-big-image .post-footer span.share{
    font-size: 13px;
    font-weight: 800;
    color:#000;
}

.blog-big-image .meta p a {
    color: #736e6e;
}

.blog-big-image .meta p a:hover{
    color: #000;
}

.blog-big-image .post-footer span.share{padding-top: 3px;}

.blog-big-image .post-footer span.share div.socials{display: inline-block;}

.blog-big-image .post-footer .count{float: left;}


.blog-big-image .post-footer div.fade-socials-big {
    margin-right: 2px;
}

.blog-big-image .the-content-quote .post-footer {
    display: none;
}

.blog-big-image blockquote p, .blog-big-image blockquote a {
    padding-left: 0;
    font-size: 14px;
}

